In [ ]:
#Create an empty list called my_list.
#Append the following elements to my_list: 10, 20, 30, 40.
#Insert the value 15 at the second position in the list.
#Extend my_list with another list: [50, 60, 70].
#Remove the last element from my_list.
#Sort my_list in ascending order.
#Find and print the index of the value 30 in my_list.

In [ ]:
#Create an empty list called my_list.
my_list = []

In [ ]:
#Append the following elements to my_list: 10, 20, 30, 40

numbers=(10,20,30)
my_list.append(numbers)

In [ ]:
my_list

[(10, 20, 30)]

In [ ]:
#Insert the value 15 at the second position in the list.

my_list.insert(1,15)

In [ ]:
my_list

[(10, 20, 30), 15]

In [ ]:
#Extend my_list with another list: [50, 60, 70].

list1=[50,60,70]

my_list.extend(list1)

In [ ]:
print(my_list)

[(10, 20, 30), 15, 50, 60, 70]

In [ ]:
#Remove the last element from my_list.

del my_list[-1]

In [ ]:
print(my_list)

[(10, 20, 30), 15, 50, 60]

In [ ]:
#Find and print the index of the value 30 in my_list

print(my_list[2])

50